<!-- bookapp/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Book Project</title>
</head>
<body>
  <div id="app"></div>
  <script src="{% static 'vue/manifest.js' %}"></script>
  <script src="{% static 'vue/vendor.js' %}"></script>
  <script src="{% static 'vue/app.js' %}"></script>
</body>
</html>
